html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
}

 /*main map area*/
#map { 
	height: 100%;
	max-width: 100%;
}
/*Header */
#hamburger {
    border: 1px solid #999;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    display: block;
    height: 24px;
    padding: 3px 4px 3px;
    position: relative;
    width: 25px;
    background: #222;
}
#hamburger div {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 2px 2px 2px 2px;
    height: 2px;
    margin-top: 3px;
    width: 90%;
}
/*searchbar*/
#sidebar {
	display: none;
    left: 0px;
    top: 54px;
    position: fixed;
    z-index: 1;
    width: 250px;
    height: 45px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #3e3c3d;

}
.controls {
	margin: 10px;
	width: calc(100% - 20px);
	height: 25px;
	font-size: 12px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*list*/
.museumView {
	display: none;
    left: 0px;
    top: 99px;
    position: fixed;
    z-index: 1;
    width: 250px;
    height: calc(100% - 99px);
    overflow-x: hidden;
    overflow-y: auto;
    background: #3e3c3d;
    opacity: 0.7;
}
nav ul {
	list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
}
nav li {
	position: relative;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    border-bottom: 1px solid #222222;
    border-top: 1px solid #444444;
    padding: 15px;
}
nav li a {
    color: #fff;
    text-decoration: none;

#tex-input {
	display:none;
	position: absolute;
	bottom: 20%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	height: 30px;
	padding-left: 5px;
	width: 70%;
}

#tex-input:focus {
 	border-color: #3c90f0;
}

  	@media screen and (max-width: 500px) {
	/*smaller searchbars when screen is small*/
	nav div#sidebar {
		width: 150px;
	}
	nav div.museumView {
		width: 150px;
	}
}
 
}